.card-sort {
  max-width: 25%;
  height: 400px;
  width: auto;
  margin:20px;
  display: block;

}

.float-left{
  float: left;
}

.center{
  text-align: center;
}

.contain{
  width: auto ;
  height: 100%;
}

.head{
  width: 25%;
  text-align: center;
  float: left;
  margin: 0;
  padding: 10px 0px 10px 0px;
}

mat-card-actions{
  position: absolute;
  bottom: 20px;
}
