// .form-group{
//   padding: 20px;
//   background-color: white;
//   margin: auto;
//   border-radius: 20px;
// }

.modal-form{
 width: 100%;
}


.full-width{
  width: 100%;
}

.w-10{
  width: 10%;
}

.left{
  float: left;
}

.double{
  width: 50%;
  float: left;
}

button{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
