.modal-form{
  width: 100%;
 }


 .full-width{
   width: 100%;
 }
 .full-width-90{
   width: 90%;
 }

 .w-10{
   width: 10%;
 }

 .left{
   float: left;
 }

 .double{
   width: 50%;
   float: left;
 }
